.post {
  background-color: lightblue;
  margin: 20px;
  justify-content: center;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.post>h4,h6,p,img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#myPosts{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#div-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
#mealDetailsContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
#DetailsOfCountry{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px 5px;
}
/* #phone-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
.phone-card{
  background-color: lightblue;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;

} */

.card-img img{
  width: 50%;
  border-radius: 15px;
}
.card-img{
  display: flex;
  justify-content: center;
}
